{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}
{% block body %}
<div class="w-full h-56 bg-red-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Error</h1>
</div>
<div class="absolute top-64 w-full">
<div class="w-fit mx-auto">503 - Error de conexión</div>
</div>
{% endblock %}