{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}
{% block body %}
<div class="w-full h-56 bg-red-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Error</h1>
    <a href="/" class="block px-3 py-2 w-fit bg-white text-black border-2 border-black absolute left-8 bottom-2 rounded-full flex flex-row">
        <img src="/back.svg" alt="back" class="w-[25px] h-[25px]">
        Volver
    </a>
    </div>
<div class="absolute top-64 w-full">
<div class="md:w-1/2 w-2/3 mx-auto text-center">
<span class="text-red-500 text-3xl">404</span><span class="text-3xl"> - No existe el proveedor</span>
</div>

{% endblock %}