{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}
{% block body %}
<div class="w-full h-56 bg-blue-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Modificar Proveedor</h1>
    </div>
<div class="absolute top-64 w-full">
<div class="md:w-1/2 w-2/3 mx-auto text-center">
<span class="text-red-500 text-3xl">404</span><span class="text-3xl"> - No existe el proveedor</span>
</div>

{% endblock %}