{% extends 'base.html.twig' %}

{% block title %}New{% endblock %}
{% block body %}
<div class="w-full h-56 bg-blue-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Nuevo Proveedor</h1>
    </div>
{% endblock %}