@tailwind base;
@tailwind components;
@tailwind utilities;


tr.active:nth-child(2n) > td{
    background-color: pink;
}

tr.active:nth-child(2n+1) > td{
    background-color: rgb(248, 206, 213);
}

.dotted{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: black;
    text-underline-offset: 4px;
}

#success{
    animation: slide-in-out 5s forwards;
}


@keyframes slide-in-out {
    0% {
      transform: translateX(-125%);
    }
    25% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-125%);
    }
  }